<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="utf-8">
        <ul>
            <li><a href="../lol/landing.handlebars">Home</a></li>
        </ul>
    </head>

    <body>
        <main>
            {{{body}}}
        </main>
    </body>

</html>